

/////////////////////////////////////////////////////////
//
// color-tips ( prefix:c- )
//
/////////////////////////////////////////////////////////

// basic

$c-mono100: #000000;
$c-mono80: #222222;
$c-mono60: #444444;
$c-mono40: #666666;
$c-mono20: #888888;
$c-mono0: #ffffff;

$c-fb: #3B579D;
$c-tw: #55ACEE;
$c-gp: #DF4B38;

// unique

$c-base-green1: #33A239;
$c-key-yellow1: #ECB41F;
$c-key-red1: #ff0000;

/////////////////////////////////////////////////////////
//
// font-color ( prefix:fc- )
//
/////////////////////////////////////////////////////////

$fc-body: $c-mono80;
$fc-link: $c-mono40;
$fc-link-visited: $c-mono40;
$fc-link-hover: $c-mono40;
$fc-link-active: $c-mono40;

/////////////////////////////////////////////////////////
//
// font-family ( prefix:ff- )
//
/////////////////////////////////////////////////////////

$ff-body: Lato, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Roboto, 'Droid Sans', sans-serif;

/////////////////////////////////////////////////////////
//
// web-font ( prefix:wf- )
//
/////////////////////////////////////////////////////////

$wf-main: Lato;
$wf-sub: Lato;

/////////////////////////////////////////////////////////
//
// font-size ( prefix:fz- )
//
/////////////////////////////////////////////////////////

$fz-html: 62.5%; //10px
$fz-body: 1.3rem;

/////////////////////////////////////////////////////////
//
// line-height ( prefix:c_ )
//
/////////////////////////////////////////////////////////

$lh-body: 1.5;
