---
layout: false
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        * {
            line-height: 2;
        }
        li a {
            font-size: 16px;
        }
    </style>
</head>
<body>

    <h1>ページ一覧</h1>

    <ul>
        <li><a href="/styleguide/">スタイルガイド</a></li>
    </ul>

    <hr>

    <ul>
        <li><a href="/page01.html" target="_blank">page01</a></li>
    </ul>

</body>
</html>
