<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width" name="viewport">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{assets}}/style.css">
</head>
<body>
{{> header}}
    <article class="container">

{{> body}}
    </article>

{{> footer}}
</body>
</html>
